extends layout

block content
  script.
    function clickCheckbox(element) {
      if(element.checked) {
        $('#tripsitterjoin').removeClass('disabled');
      } else {
        $('#tripsitterjoin').addClass('disabled');
      }
    }
    var color = 'default';
    function go(b) {
      var channels,
          nick = "#{anick}",
          theme = color;

      switch(b) {
        case 'assistance':
          channels = "#{achan}";
          theme = color;
          break;
        case 'helper':
          channels = "#tripsit,#tripsit1,#tripsit2,#tripsit3,#tripsitters";
          nick = "#{anick}-ts";
          break;
        case 'sanctuary':
          channels = '#sanctuary'
          break;
        case 'stims':
          channels = '#stims'
          break;
        case 'opiates':
          channels = '#opiates'
          break;
        case 'psychonaut':
          channels = '#psychonaut'
          break;
        case 'general':
          channels = '#lounge,#sanctuary,#drugs'
          break;
        default: break;
      }
      
      var manualNick = document.getElementById('nick').value;
      if(manualNick != '') {
        nick = manualNick; 
      }

      window.location = 'https://chat.tripsit.me/chat/?a=1&theme='+theme+'&nick='+nick+'&'+channels;
    }
  .container-fluid(style="margin-top:2%;")
    .alert.alert-warning(style='text-align:center') Do you use a VPN? Try using 
      a(href="https://wiki.tripsit.me/wiki/IRC_User_Guide#Set_up_SASL") SASL with a desktop client
      span  to avoid broad VPN abuse bans.
    .jumbotron
      center 
       .row
        .col-xs-12.col-md-4.col-md-offset-4
          .bs-callout
            p(style='font-size:24px;line-height: 140%;') Welcome to TripSit Chat - You're with friends here.
            br
            input#nick.form-control(placeholder='Optional: Choose a nickname')
       .row  
        .col-xs-12.col-md-4
            button.btn.bs-callout.bsbutton.bs-callout-gen(onclick='javascript:go("general")')
              h1 General Chat
              p.subtex Click here for the general community chat, about life, drugs or anything else.
              
        .col-xs-12.col-md-4
            button.btn.bs-callout.bsbutton.bs-callout-ass(onclick='javascript:go("assistance")')
              h1 Assistance
              p.subtex Taken drugs or have questions about taking drugs? Concerned or have any questions? Click here.
        .col-xs-12.col-md-4
            button.btn.bs-callout.bsbutton.bs-callout-trip(onclick='javascript:go("sanctuary")')
              h1 Sanctuary
              p.subtex Click here if you're in need of a slower, calmer chat. Great if you're tripping or just need to relax.
      center
       .row
        .col-xs-12.col-md-4.col-md-offset-4
          button.btn.bsbutton.bs-callout.bs-callout-benzo(data-toggle='modal' data-target='#hModal')
            h4 Here to Help
            p.subtex Click here to help other trippers

      div.modal.fade(id="hModal", role="dialog")
        div.modal-dialog
          div.modal-content
            .modal-header
              button(type="button", class="close", data-dismiss="modal") x
              h3 Helping Trippers
            .modal-body
              ul
                li You will join be joined to the four #tripsit assistance channels.
                li Users will join these channels and need some help.
                li You will also be joined to #tripsitters, where you can ask for help from other tripsitters and staff members.
                li Remember to be kind, and that no advice is better than wrong advice. If you don't know something, ask in #tripsitters.

              .checkbox
                label
                input(style='width:20px;height:20px;' type='checkbox', name='checkbox', onclick='clickCheckbox(this)')
                |   Please confirm that you have 
                a(href="https://wiki.tripsit.me/wiki/How_To_Tripsit_Online") read our guide
                span  on how to tripsit people online.
            .modal-footer
              button#tripsitterjoin.btn.bs-callout.bsbutton.bs-callout-trip.disabled(onclick='javascript:go("helper")')
                h3 Join TripSit as a helper
              
      .bs-callout.bs-callout(style='margin-bottom:5px;')
        h4(style='text-align:center;margin-bottom:0px;') Other Channels
      center 
        .container
          .row
            .col-xs-12.col-md-4
              button.btn.bs-callout.bsbutton.bs-callout-stim(onclick='javascript:go("stims")')
                h3 Stim Chat
            .col-xs-12.col-md-4
              button.btn.bs-callout.bsbutton.bs-callout-psychedelic(onclick='javascript:go("opiates")')
                h3 Opiates Chat
            .col-xs-12.col-md-4
              button.btn.bs-callout.bsbutton.bs-callout-unsafe(onclick='javascript:go("psychonaut")')
                h3 Psychonautics Chat
      center
        .bs-callout.bs-callout
          p(style='font:14px;') Remember to be kind to your fellow trippers, and don't name drug sources. Read the full rules 
            a(href='http://wiki.tripsit.me/wiki/Rules') here
            span .
        a(href='https://chat.tripsit.me/chat/?a=1&theme=' + color) Click here for the regular login page
