doctype html
html
  head 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap-light.min.css", id="bootstrap-theme")
    link(rel="stylesheet", type="text/css", href="/stylesheets/light.css")
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/themeswitcher.js')
    
    title TripSit Chat
body

    a(href='https://tripsit.me')
      div#banner
        img#bannerlogo(src='images/tripsit_logo.svg')
        picture
          source.banner(srcset='images/banner-3400-120-80q-progressive.jpg', media='(min-width: 1921px)')
          img.banner(src='images/banner-1920-120-80q-progressive.jpg')
     nav.navbar.navbar-inverse.navbar-static-top(style="padding:0;margin:0;")
       .container-fluid
        .navbar-header
           button.navbar-toggle.collapsed#collapse-right(type="button", data-toggle="collapse", data-target="#bs-navbar-collapse", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
           a.navbar-brand(href="#") Dark-mode
           a
            .switchpadding
             label.switch
              input(type="checkbox", onClick="changeCss()", id="switch", value="Style") 
              span.slider 
               div#switchText
                span.slider_on ON
                span.slider_off OFF
        .collapse.navbar-collapse#bs-navbar-collapse
         ul.nav.navbar-nav.navbar-right
            li.choice
              a(href='https://tripsit.me/about') About
            li.choice
              a(href='https://tripsit.me/contact-us') Contact Us
            li.choice
              a(href='https://drugs.tripsit.me/') Factsheets
            li.choice
              a(href='https://wiki.tripsit.me/') Wiki
            li.choice
              a(href='https://play.google.com/store/apps/details?id=me.tripsit.tripmobile') Mobile App
            li.choice
              a(href='https://chat.tripsit.me/') Chat
            li.choice.dropdown
             a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Tools
              span.caret
             ul.dropdown-menu
              li.choice
               a(href="https://benzos.tripsit.me/") Benzodiazepine Converter
               a(href="https://dxm.tripsit.me/") DXM Calculator
               a(href="https://volume.tripsit.me/") Volumetric Dosing
            li.choice.dropdown
             a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Social Media
              span.caret
             ul.dropdown-menu
              li.choice
               a(href="https://www.facebook.com/tripsitme/") Facebook
              li.choice
               a(href="https://reddit.com/r/tripsit/") Reddit
              li.choice
               a(href="https://twitter.com/teamtripsit") Twitter
            li.choice
             a(href='https://tripsit.me/donate/') Donate
       .loader#coverScreen
    block content
script.
   //Thanks mokay <3
   var referrer = document.referrer;
   console.log("Referrer: " + referrer);
   const queryString = window.location.search;
   if (referrer == "https://tripsit.me/" && queryString == "?assistance"){
      go("assistance");
   }
