
body {
  /*padding-bottom: 20px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*line-height: 120%;*/
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.loader {
   width: 100%;
   height: 100%;
   margin: 0;
   position: fixed;
   display: block;
   opacity: 1.0;
   background-color: #1f2127;
   z-index: 99;
   text-align: center;
}

.banner{
  object-fit: cover;
}

#bannerlogo{
  position: absolute;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 350px){
  #bannerlogo{
    height: 100px;

  }
}

a {
  color: #00B7FF;
}

td {
  word-wrap: break-word;
}

.choice {
  font-family: Arial, sans-serif;
  font: white;
}

.choice:hover {
  background-color: #7900C2;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.navbar-nav {
  color: white;
}

.navbar {
  background-color: #000;
}

.navbar-inverse {
  background-image: none;
  color: white;
}

.choice:hover {
  background-color: #7900C2;
}

.navbar {
  background-color: #000;
}

.navbar-inverse {
  background-image: none;
  color: white;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

/*
 * Global add-ons
 */

.glossary {
  border-bottom: 1px #50007F dotted;
  color: #50007F;
}

.navbar-right {
  margin-right: 5px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */


.navbar-fixed-top {
  border: 0;
}
/* Switch that toggles theme */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px 0px 0px 0px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e3338;
  -webkit-transition: .4s;
  transition: .4s;
}

#switchText {
  color: #428bca;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #428bca;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2e3338;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e3338;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}
/* text style and padding for switch */
.switchpadding{
  padding-top: 10px;
  display: inline;
}
.nav-text{
  padding-top: 17px;
  padding-right: 10px;
  padding-left: 7px;
  box-shadow:none !important;
  color: #9d9d9d;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px;
  border-left: none;
  background-color:#eeeeee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
.bs-callout-caution {
  background-color: #fffacb;
  border-color: #827700;
}

.subtex {
  line-height:150%;
  font-size:10px;
}

.bsbutton {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height:100%;
  margin: 0 20px 20px 0;
}

.jumbotron p {
font-size:15px;
}

@media screen and (min-width: 768px) {
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: xxx-large;
  }
}

.btn{
    white-space: normal;
    margin:5px;
    width:100%;
    text-shadow: none;
    color: #2d2828;
    transform: scale(1.0);
    transition: transform 1s;
}

.btn:hover {
  color: #f1f1f8e6;
  transform: scale(1.1);
  transition: transform 1s;
}

/* Themes for different contexts */
.bs-callout-lowdec {
  background-color: #d8effe;
  border-color: #00426c;
}
.bs-callout-gen {
background-color: #d1920a;
 /* background-color: #d8effe;*/
  /*padding-bottom: 37px;*/
}
.bs-callout-stim {
background-color: #dbd82a;/*#e8e66b;#599486;*/
}

.bs-callout-opiate {
background-color: #a6582e;
}
/*
.bs-callout-opiate:hover {
color: #9bd192 !important;
}
*/
.bs-callout-caution{
background-color: #daefff;
}
.bs-callout-here-help{
background-color: #c7db44;
}
.bs-callout-psychonaut{
background-color: #4a196e;
color: #d5bee6 !important;
}
.bs-callout-psychonaut:hover{
color: white !important;
}
.bs-callout-music{
/*background-color: #d5bee6;*/
background-color: #c862f0;
}
/*
.bs-callout-music:hover{
color: #4a196e !important;
}
*/
.bs-callout-contrib{
background-color: #34b6e1;
}
.bs-callout-help{
background-color: #34b6e1;
}
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fdc9cc;
  border-color: #7f0006;
}
.bs-callout-unsafe {
  background-color: #ffe6cb;
}
.bs-callout-lowinc {
  background-color: #cbf0d1;
}
.bs-callout-trip {
  /*background-color: #cbf0d1;*/
background-color: #45d45b;
filter: hue-rotate(0);
transform: scale(1.0);
transition: filter 3s, transform 1s;
}
.bs-callout-trip:hover{
filter: hue-rotate(360deg);
transform: scale(1.1);
transition: filter 3s, transform 1s;
}
.bs-callout-ss {
  background-color: #dfd3ec;
}
.bs-callout-ass {
background-color: #b282e7;
 /* background-color: #dfd3ec;*/
}
.bs-callout-psychedelic {
 background-color: #F8FBCC;
  /*background-color: #00A388;*/
}
.bs-callout-opioid {
 background-color: #CCFFCC;
}
.bs-callout-dissociative {
background-color:#B23609;
/*border-color:#9b59b6;*/
}
.bs-callout-research {
border-color:#EC971F;
background-color:#EC971F;
}
.bs-callout-habit {
background-color:#e67e22;
}
.bs-callout-depress{
background-color:#C9302C;
border-color:#C9302C;
}
.bs-callout-tentative {
border-color:#FFFF9D;
}

.catcallout {
  background-color: #FFF;
}

.phaedra-colors .label {
  color: #001713;
}
.phaedra-colors .label-default {
  background-color: #95a5a6;
}
.phaedra-colors .label-default[href]:hover,
.phaedra-colors .label-default[href]:focus {
  background-color: #7f8c8d;
}
.label-psychedelic {
  background-color: #00A388;
}
.phaedra-colors .label-primary[href]:hover,
.phaedra-colors .label-primary[href]:focus {
  background-color: #007D68;
}
.label-empathogen {
  background-color: #79BD8F;
}
.phaedra-colors .label-success[href]:hover,
.phaedra-colors .label-success[href]:focus {
  background-color: #659E78;
}
.phaedra-colors .label-info {
  background-color: #BEEB9F;
}
.phaedra-colors .label-info[href]:hover,
.phaedra-colors .label-info[href]:focus {
  background-color: #A5CC8A;
}
.label-tentative {
  background-color: #FFFF9D;
  color: #001713;
}
.phaedra-colors .label-warning[href]:hover,
.phaedra-colors .label-warning[href]:focus {
  background-color: #D1D181;
}
.phaedra-colors .label-danger {
  background-color: #FF6138;
}
.phaedra-colors .label-danger[href]:hover,
.phaedra-colors .label-danger[href]:focus {
  background-color: #D6512F;
}

.label-disso {
  background-color: #9b59b6;
}

.label-habit {
  background-color: #e67e22;
}

@media (max-width: 640px) {
  .bs-callout>p {
    font-weight: 300;
  }
}

.col-xs-12.col-md-3, h3{
    margin: 0 auto;
}

.slider_on{
  margin-right: 10px;
}

@media (max-width: 991px) and (min-width: 768px){
  .nav > li > a{
    padding: 10px 4px;
    line-height: 30px;
  }
}

a:focus{
  outline: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline-offset: 0px;
}

#nick.form-control{
  width: 240px;
}

#tripsitterjoin{
  width: 80%;
}

.modal-footer{
  text-align: center;
}

button.close{
  color: black;
  opacity: 70%;
  text-shadow: none;
}

button.close:hover{
  color: black;
}

#banner{
  position: relative;
}